<a href="https://colab.research.google.com/github/pushyag1/DeepLearningClass/blob/master/__Init__Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
class pushya():
  def __init__(self,name,university,age):
    self.name=name
    self.university=university
    self.age=age
  def sample(self):
    print("hi",self.name,"im studying in",self.university,"age",self.age)
  def sample2(self,country):
      print("hi",self.name,"country",country)
p=pushya('tunny','umbc','25')
p1=pushya("pushyami","griet","16")
p.sample()
p1.sample()
p1.sample2('usa')

hi tunny im studying in umbc age 25
hi pushyami im studying in griet age 16
hi pushyami country usa

In [73]:
class pushya(object):
  def __init__(self,name,university,age):
    self.name=name
    self.university=university
    self.age=age
    print(self.name,self.university,self.age)
 
p=pushya('tunny','umbc','25')
p1=pushya("pushyami","griet","16")
p3=pushya("p","uni","89")

tunny umbc 25
pushyami griet 16
p uni 89

In [40]:
class deep:
  def __init__(self,university,name,age):
    self.university=university
    self.name=name
    self.age=age
    if self.name == "Pushya":
       self.name = "Pushyami"
       #print("Pushyami")
    else:
      self.name = "Tunny"
  def sample1(self):
    print("my name",self.name,"university",self.university,"age",self.age)
  def sample2(self,country):
    print("my name is",self.name,"country",country)

p1=deep("UMBC","tun","25")
p1.sample1()
p1.sample2("USA")

my name Tunny university UMBC age 25
my name is Tunny country USA

In [62]:
class User(object):
    def __init__(self, something):
        print("User Init called.")
        self.something = something

    def method(self):
        return self.something 

class Student(User):
    def __init__(self, something):
        User.__init__(self, something)
        print("Student Init called.",self.something)
        self.something = something

    def method(self):
        return self.something 

my_object = Student('Pushya')

User Init called.
Student Init called. Pushya